<a class="list-group-item list-group-item-action">aplicacion de piano con angular 11</a>
<div class="row">
  <div class="col-lg-4">
    
    <div class="list-group">
    
      <a (click)="aplicarSonido(1)" style="background-color: red;" class="list-group-item list-group-item-action"></a>
      <a (click)="aplicarSonido(2)" style="background-color: yellow;" class="list-group-item list-group-item-action"></a>
      <a (click)="aplicarSonido(3)" style="background-color: yellowgreen;" class="list-group-item list-group-item-action"></a>
      <a (click)="aplicarSonido(4)" style="background-color: blue;" class="list-group-item list-group-item-action"></a>
      <a (click)="aplicarSonido(5)" style="background-color: aqua;" class="list-group-item list-group-item-action"></a>
      <a (click)="aplicarSonido(6)" style="background-color: royalblue;" class="list-group-item list-group-item-action"></a>
      <a (click)="aplicarSonido(7)" style="background-color: peru;" class="list-group-item list-group-item-action"></a>
    </div>

    
  </div>
</div>

